<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sergiobuj</title>
  </head>
  <body>
    <form>
      <fieldset>
	<legend>1: Select Condor Universe</legend>
	<p>
	  <input type="radio" name="universe"
		 id="vanilla" value="vanilla"
		 checked="checked" />
	  <label for="vanilla">Vanilla</label>
	</p>
	<p>
	  <input type="radio" name="universe"
		 id="standard" value="standard" />
	  <label for="standard">Standard</label>
	</p>
	<p>
	  <input type="radio" name="universe"
		 id="parallel" value="parallel" />
	  <label for="parallel">Parallel</label>
	</p>
	<p>
	  <input type="radio" name="universe"
		 id="java" value="java" />
	  <label for="java">Java</label>
	  
	</p>
      </fieldset>	
      <fieldset>
        <legend>2: Select executable</legend>
        <p>
          <select id = "binarylist">
	    <option option="-1">------</option>
	    <% @binaries.each_with_index do |item, i| %>
	    <option option=<%=i%>>/usr/bin/<%=item%></option>
	    <%end%>
          </select>
        </p>
      </fieldset>
    </form>
  </body>
</html>
