<h1>"Condor File created!"</h1>
<div id='condor_file'>
  <%= @condorfyle.gsub(/\n/, '<br>') %>
</div>

<a href='/create'>Create another condor file</a><br/>
<a href='/getfied'>Download .condor file</a>
