<!DOCTYPE html>
<html>
  <head> 
    <title>Condorfy for Apolo</title> 
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
    <script src="js/application.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/application.css" />
  </head> 
  <body><%= yield %></body>
  <footer>Sergio Botero - Apolo EAFIT</footer>
</html>
