<!DOCTYPE html>
<html>
  <head> 
    <title>Condorfy for Apolo</title> 
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
    <script src="js/application.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/application.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25593577-3']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  
  <header></header>
  <body><%= yield %></body>
  <footer>Sergio Botero - Apolo EAFIT</footer>
</html>
