header { height: 60px }
body { background-color: #FFFFFF }
legend {
    font-size: 22px;
    text-align: right;
}
div#button-div { text-align: center }
input.button {
    width: 120px;
    font-size: 200%;
}
footer {
    height: 60px;
    color: #444643;
    text-align: center;
    padding: 15px;
}
fieldset {
    margin: 0 50px 10px 50px;
    background-color: #FFF;
    padding: 0px 80px 0px 80px;
}
a {
    color: #263D1C;
    color: #0000FF;
}
#condor_file {
    margin: 20px 50px 10px 50px;
    width: 600px;
    background-color: #999;
}
.env-var { margin-top: 15px }
